{% extends "processor/base.html" %}
{% block content %}
<div class="container index-container">
    <h1>画像に合うように音声を加工する実験</h1>
    <h2>この実験について</h2>
    <hr>
    <p>
        この実験では、画像のイメージに合うように音声を加工していただきます。<br>
        人間の音声を機械的に加工し、ロボットのような音声に加工することができます。
    </p>
    <h2>実験画面の説明</h2>
    <hr>
    <img src="{{ url_for('processor.image_file', filename='guide_image.png') }}" alt="説明画像" class="guide-image">
    <div class="guide-image-explain">
        <b>①</b>画像：このイメージに合うように音声を加工してください。<br>
        <b>②</b>再生ボタン：加工した音声を視聴することができます。<br>
        <b>③</b>リセットボタン：⑤と⑥の入力をリセットすることができます。<br>
        <b>④</b>決定ボタン：現在の音声で決定して、次の問に進みます。<br>
        <b>⑤</b>加工するかどうかを選択します。<br>
        <b>⑥</b>加工の強さを選択します。<br>
        <b>⑦</b>音声の高さを調整するかを選択します。<br>
        <b>⑧</b>どれだけ高さを調整するかを選択します。
    </div>
    <h2>実験における注意点</h2>
    <hr>
    <p>実験に際してはイヤホンまたはヘッドホンを用い、あらかじめ適切な音量に設定し、実験に参加していただきますようお願いします。</p>
    <h3>説明を読んだら次に進んでください。</h3>
    <div style="text-align: right;">
        <a href="{{ url_for('processor.index', number='0') }}" class="btn btn-next">次へ</a>
    </div>
</div>
{% endblock %}