<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!--表示サイズ,初期拡大率,適切な設定-->
        <link rel="stylesheet" href="{{ url_for('processor.static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <form method="POST" class="form">
                <div class="question-number">
                    問 {{ number + 1 }} / {{ session["total"] }}
                </div>
                <img src="{{ url_for('processor.image_file', filename=imagefile) }}" alt="ロボット画像" class="robot-image">
                <div class="btns">
                    <!-- 送信時にrangeの値をhiddenにコピーする関数を走らせる -->
                    <input type="submit" name="button" value="再生" onclick="rangeValueCopy()" id="playButton" class="btn btn-play">
                    <time id="currentPosition">0:00</time> / <time id="endPosition">0:00</time>
                    <button type="button" onclick="resetParameter()" class="btn btn-reset">リセット</button>
                    <input type="submit" name="button" value="この音声で決定" class="btn btn-decision">
                </div>
                <div class="method">
                    {% if result['RP_toggle'] %}
                        <label class="toggle">
                            <input type="checkbox" id="RobopitchToggle" name="RP_toggle" onchange="RobopitchOnchange()" checked>
                        </label>
                    {% else %}
                        <label class="toggle">
                            <input type="checkbox" id="RobopitchToggle" name="RP_toggle" onchange="RobopitchOnchange()">
                        </label>
                    {% endif %}
                    音声を機械的に加工
                    <p>加工の強さ：<span id="currentThreshold"></span></p>
                    {% if result['RP_toggle'] %}
                        <input type="range" class="range" id="RobopitchThreshold" name="RP_threshold" min="1" max="100" value="{{ result['RP_threshold'] }}" step="1">
                    {% elif result['RP_threshold'] %}
                        <!-- toggleが選択されていないときはdisabledに -->
                        <input type="range" class="range" id="RobopitchThreshold" name="RP_threshold" min="1" max="100" value="{{ result['RP_threshold'] }}" step="1" disabled>
                    {% else %}
                        <input type="range" class="range" id="RobopitchThreshold" name="RP_threshold" min="1" max="100" value="1" step="1" disabled>
                    {% endif %}
                    <!-- rangeがdisabledのとき、valueを送信することができたいため、hiddenにvalueをコピーして送信する -->
                    <!-- 受信側で同様に処理できるようにnameは同じに -->
                    <input type="hidden" class="hidden" name="RP_threshold" value="">
                    <p>窓長：<span id="currentWindowLength"></span></p>
                    {% if result['RP_toggle'] %}
                        <input type="range" class="range" id="RobopitchWindowLength" name="RP_win_length" min="512" max="1024" value="{{ result['RP_win_length'] }}" step="512">
                    {% elif result['RP_win_length'] %}
                        <input type="range" class="range" id="RobopitchWindowLength" name="RP_win_length" min="512" max="1024" value="{{ result['RP_win_length'] }}" step="512" disabled>
                    {% else %}
                        <input type="range" class="range" id="RobopitchWindowLength" name="RP_win_length" min="512" max="1024" value="512" step="512" disabled>
                    {% endif %}
                    <input type="hidden" class="hidden" name="RP_win_length" value="">
                </div>
            </form>
        </div>
        {% if filename %}
        <audio src="{{ url_for('processor.audio_file', filename=filename) }}" type="audio/wav"></audio>
        {% endif %}
        <script src="{{ url_for('processor.static', filename='script.js') }}"></script>
    </body>
</html>