<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebApp</title>
        <link rel="stylesheet" href="{{ url_for('processor.static', filename='stylesheet.css') }}">
    </head>
    <body>
        <form action="" method="POST">
            <img src="{{ url_for('processor.image_file', filename=imagefile) }}" alt="ロボット画像" width="300">
            <div class="methods">
                <div class="method">
                    {% if result['RP_toggle'] %}
                        <label class="toggle">
                            <input type="checkbox" id="RobopitchToggle" name="RP_toggle" onchange="RobopitchOnchange()" checked>
                        </label>
                    {% else %}
                        <label class="toggle">
                            <input type="checkbox" id="RobopitchToggle" name="RP_toggle" onchange="RobopitchOnchange()">
                        </label>
                    {% endif %}
                    Robopitch
                    <p>threshold: <span id="currentThreshold"></span></p>
                    {% if result['RP_toggle'] %}
                        <input type="range" class="range" id="RobopitchThreshold" name="RP_threshold" min="1" max="100" value="{{ result['RP_threshold'] }}" step="1">
                    {% elif result['RP_threshold'] %}
                        <!-- toggleが選択されていないときはdisabledに -->
                        <input type="range" class="range" id="RobopitchThreshold" name="RP_threshold" min="1" max="100" value="{{ result['RP_threshold'] }}" step="1" disabled>
                    {% else %}
                        <input type="range" class="range" id="RobopitchThreshold" name="RP_threshold" min="1" max="100" value="1" step="1" disabled>
                    {% endif %}
                    <!-- rangeがdisabledのとき、valueを送信することができたいため、hiddenにvalueをコピーして送信する -->
                    <!-- 受信側で同様に処理できるようにnameは同じに -->
                    <input type="hidden" class="hidden" name="RP_threshold" value="">
                    <p>window_length: <span id="currentWindowLength"></span></p>
                    {% if result['RP_toggle'] %}
                        <input type="range" class="range" id="RobopitchWindowLength" name="RP_win_length" min="1" max="2" value="{{ result['RP_win_length'] }}" step="1">
                    {% elif result['RP_win_length'] %}
                        <input type="range" class="range" id="RobopitchWindowLength" name="RP_win_length" min="1" max="2" value="{{ result['RP_win_length'] }}" step="1" disabled>
                    {% else %}
                        <input type="range" class="range" id="RobopitchWindowLength" name="RP_win_length" min="1" max="2" value="1" step="1" disabled>
                    {% endif %}
                    <input type="hidden" class="hidden" name="RP_win_length" value="">
                </div>
            </div>
            <div>
                <!-- 送信時にrangeの値をhiddenにコピーする関数を走らせる -->
                <input type="submit" value="加工" onclick="rangeValueCopy()">
                <button type="button" onclick="resetParameter()">リセット</button>
            </div>
            {% if number == total - 1 %}
            <a href="{{ url_for('guide.end') }}">決定</a>
            {% else %}
            <a href="{{ url_for('processor.index', number=number+1) }}">決定</a>
            {% endif %}
        </form>
        <hr>
        {% if filename %}
        <audio controls autoplay src="{{ url_for('processor.audio_file', filename=filename) }}" type="audio/wav"></audio>
        {% endif %}
        <script src="{{ url_for('processor.static', filename='script.js') }}"></script>
    </body>
</html>