body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,"Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.container:after,.container:before {
  display: table;
  content: " "
}

.container:after {
  clear: both
}

@media (min-width: 768px) {
  .container {
    width:750px
  }
}

@media (min-width: 992px) {
  .container {
    width:970px
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px
  }
}

.robot-image{
  margin: auto;
  display: block;
  width: 30%;
}

@media (max-width: 959px) {
  .robot-image {
    width: 50%;
  }
}
@media (max-width: 480px) {
	.robot-image {
    width: 80%;
  }
}

.btns {
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn {
  font-size: 15pt;
  margin: 5px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px grey;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-play {
  background-color: black;
}

.btn-reset {
  background-color: red;
}

.btn-decision {
  background-color: blue;
}

.methods {
  display: flex;
  justify-content: center;
}

.method {
  width: 30%;
  text-align: center;
}

@media (max-width: 959px) {
  .method {
    width: 40%;
  }
}

@media (max-width: 480px) {
	.methods {
    display: block;
    justify-content: center;
  }

  .method {
    width: 100%;
    padding-bottom: 20px;
  }
}

.method b {
  font-size: 22px;
}

.method p {
  margin-top: 20px;
  margin-bottom: 0;
}

.toggle {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color .4s;
}

.toggle:has(:checked) {
  background-color: #2d75ff;
}

.toggle::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: #fff;
  content: '';
  transition: left .4s;
}

.toggle:has(:checked)::after {
  left: 20px;
}

.toggle input {
  display: none;
}

input[type="range"] {
  width: 60%;
}

.index-container h2 {
  margin-bottom: 0;
}

.index-container a {
  text-decoration: none;
}

.btn-next {
  background-color: blue;
}

.guide-image{
  margin: auto;
  display: inline-block;
  width: 50%;
}

@media (max-width: 959px) {
  .guide-image {
    width: 80%;
  }
}
@media (max-width: 480px) {
	.guide-image {
    width: 100%;
  }
}

.guide-image-explain {
  display: inline-block;
}