<!DOCTYPE html>
<html>
    <body>
        加工方法を選択してください<br>
        <form action="" method="POST">
            <select name="process_method">
                {% for method in methods %}
                    {% if method.selected %}
                        <option value="{{ method.code }}" selected>{{ method.display }}</option>
                    {% else %}
                        <option value="{{ method.code }}">{{ method.display }}</option>
                    {% endif%}
                {% endfor%}
            </select><br>
            加工の強さを選択してください<br>
            弱<input type="range" name="parameter" min="0" max="100" value="{{ result }}" step="1">強
            <input type="submit" value="加工">
        </form>
        <hr>
        {% if filepath %}
        加工強度 {{ result }} で加工した場合<br>
        <audio controls autoplay src="{{ filepath }}" type="audio/wav"></audio>
        {% endif %}
    </body>
</html>